<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parakh | See beyond the Label</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <a href="index.html">PARAKH</a>
        </div>
        <nav class="nav_links">
            <a href="scan.html">Scan</a>
            <a href="rules.html">Rules Simplified</a>
            <a href="login.html">Login</a>
        </nav>
    </header>
    <main>

    </main>
    <footer class="about">
        
    </footer>
</body>
</html>