<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" href="../static/css/style.css">
</head>

<body>
{% if messages %}
<div id="toast-container" class="toast-container">
    {% for message in messages %}
    <div class="toast-popup toast-{{ message.tags }}">
        <span>{{ message }}</span>
        <button type="button" class="toast-close" onclick="this.parentElement.remove();">&times;</button>
    </div>
    {% endfor %}
</div>
{% endif %}
    <header class="page-header">
        <h1>Welcome to Parakh</h1>
    </header>

    <main class="login-main">

        <div class="login-card">
        <h2>Login</h2>
        <p class="login-subtext">We promise this login is 100% preservative-free</p>

        <form action="/login/" method="POST" class="loginForm">
            {% csrf_token %}
            <div class="username">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>

            <div class="password">
                <label for="password">Password</label>
                <input type="password" id="password" name = "password" placeholder="Enter your password" required>
                <a href="/forgot-password">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>
            </form>
        <div class="new-user">
            <a href="/register">New to Parakh? Click to register</a>
        </div>
    </div>
    </main>
</body>

</html>